In [1]:
import numpy as np
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as plt

#reddit becos not biased, and wider range of articles from different publishers

we have cleaned our dataset, 
Label:

In [2]:
df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,...,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25,combined
0,0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...",...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge""","b""Georgia 'downs two Russian warplanes' as cou..."
1,1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo...",b'Why wont America and Nato help us? If they w...
2,2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man...",b'Remember that adorable 9-year-old who sang a...
3,3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",...,b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...,b' U.S. refuses Israel weapons to attack Iran:...
4,4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...,b'All the experts admit that we should legalis...

In [3]:
#TF-IDF: convert the text data into a format suitable for ML models.
from sklearn.feature_extraction.text import TfidfVectorizer

#initialise TF-IDF Vectorizer, considering the top 1000 words and convert to uni-grams and bigrams, and remove stopwords
vectorizer = TfidfVectorizer(max_features=1000, ngram_range = (1,2), stop_words='english')

In [4]:
#apply TF-TDF to combined text data, Term-Frequency emphasizes frequent words, Inverse-Document-Frequency reduces weight of common words
tfidf_matrix = vectorizer.fit_transform(df['combined'])

#check the shape of the matrix
tfidf_matrix.shape

(1989, 1000)

In [5]:
#creating a dataframe for the TF-IDF values
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns = vectorizer.get_feature_names_out())

#show the dataframe
tfidf_df.head()

,000,000 people,10,100,11,12,13,14,15,16,...,wrong,year,year old,years,years ago,yemen,young,zealand,zimbabwe,zone
0,0.028841,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.028191,0.040213,0.028790,0.0,0.0,0.0,0.00000,0.0,0.0
1,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.09443,0.0,0.0
2,0.000000,0.0,0.000000,0.046964,0.052515,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.058395,0.083299,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
3,0.000000,0.0,0.049753,0.000000,0.000000,0.0,0.0,0.069076,0.0,0.0,...,0.0,0.033702,0.048075,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0
4,0.043379,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.043303,0.0,0.0,0.0,0.00000,0.0,0.0

3a. Sentiment analysis

In [6]:
#pip install textblob
from textblob import TextBlob

def get_sentiment(text):
  sentiment = TextBlob(text).sentiment.polarity
  return sentiment

#
df['sentiment_score'] = df['combined'].apply(get_sentiment)
df['sentiment_score'].head()

0   -0.048568
1    0.121956
2   -0.046530
3    0.011398
4    0.040677
Name: sentiment_score, dtype: float64

In [7]:
#vader is better at understanding slang in language

3b. Historical Price Features

In [8]:
df_prices = pd.read_csv("upload_DJIA_table.csv")

df_prices['Date'] = pd.to_datetime(df_prices['Date'])
df.sort_values('Date', ascending=True, inplace=True)
df['7_day_avg'] = df_prices['Close'].rolling(window=7).mean()
df['30_day_avg'] = df_prices['Close'].rolling(window=30).mean()
df['daily_return'] = df_prices['Close'].pct_change(1)
df['volatility_30'] = df['daily_return'].rolling(window=30).std()

Linear Regression: this is where the funs starts

In [9]:
# For time-series data, we have to consider the time-sensitive context of the data. 
# Therefore, we use a train-test split of
df.dropna(inplace=True)

split_point = int(len(df) * 0.8)

train_df = df.iloc[:split_point]
test_df = df.iloc[split_point:]
#test_df.head()

In [10]:
X_train = train_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
X_train.info()
y_train = train_df['Label']
X_test = test_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
y_test = test_df['Label']

<class 'pandas.core.frame.DataFrame'>
Index: 1564 entries, 30 to 1596
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sentiment_score  1564 non-null   float64
 1   7_day_avg        1564 non-null   float64
 2   30_day_avg       1564 non-null   float64
 3   daily_return     1564 non-null   float64
 4   volatility_30    1564 non-null   float64
dtypes: float64(5)
memory usage: 73.3 KB

Plot graphs of sentiment socre, 7 day avg, 30 day avg, daily return, volatility 30

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


# Extract features and target variable for both training and test sets

X_train = train_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
y_train = train_df['Label']
X_test = test_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
y_test = test_df['Label']

# Initialize and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predictions
predictions = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, predictions))

Accuracy: 0.5076530612244898

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import plot_tree



# Initialize the Random Forest model
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

'''f = plt.figure(figsize=(12,12))
plot_tree(RandomForestClassifier, filled=True, rounded=True, 
          feature_names=["Label"], 
          class_names=['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30'])
'''
# Predictions
rf_predictions = rf_model.predict(X_test)

# Evaluate the model
print("Random Forest Accuracy:", accuracy_score(y_test, rf_predictions))

Random Forest Accuracy: 0.5102040816326531

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

# Initialize the Gradient Boosting model
gb_model = GradientBoostingClassifier()
gb_model.fit(X_train, y_train)

# Predictions
gb_predictions = gb_model.predict(X_test)

# Evaluate the model
print("Gradient Boosting Accuracy:", accuracy_score(y_test, gb_predictions))

Gradient Boosting Accuracy: 0.48214285714285715

Bigram

In [14]:
bivect = TfidfVectorizer(max_features=1000, ngram_range = (2,3), stop_words='english')
tfidf_matrix2 = bivect.fit_transform(df['combined'])
tfidf_bivect_df = pd.DataFrame(tfidf_matrix2.toarray(), columns = vectorizer.get_feature_names_out())

# Apply TF-IDF to combined text data
tfidf_matrix2 = vectorizer.fit_transform(df['combined'])

# Check the shape of the matrix
print("TF-IDF Matrix Shape:", tfidf_matrix2.shape)

# Creating a dataframe for the TF-IDF values
tfidf_df2 = pd.DataFrame(tfidf_matrix2.toarray(), columns=vectorizer.get_feature_names_out())

# Show the dataframe
tfidf_df2.head()

# Now continue with your sentiment analysis and feature engineering...

TF-IDF Matrix Shape: (1956, 1000)

,000,000 people,10,100,11,12,13,14,15,16,...,wrong,year,year old,years,years ago,yemen,young,zealand,zimbabwe,zone
0,0.141352,0.0,0.068188,0.0,0.0,0.0,0.097694,0.0,0.0,0.0,...,0.0,0.092353,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.105065,0.0,0.0,0.0,...,0.0,0.049661,0.070943,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.050953,0.0,0.073739,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.056658,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


# Extract features and target variable for both training and test sets

X_train = train_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
y_train = train_df['Label']
X_test = test_df[['sentiment_score', '7_day_avg', '30_day_avg', 'daily_return', 'volatility_30']]
y_test = test_df['Label']

# Initialize and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predictions
predictions = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, predictions))

Accuracy: 0.5076530612244898